doctype html5
html(lange="es")
    head
        meta(charset="utf-8")
        meta(name="wiewport", content="width=device-width")
        link(rel="stylesheet", href="estilos.css") 
        title Perfiles
        // style(type="text-css") //
    body 
         .contenedor 
             .item 1
             .item 2
             .item 3
             .item 4
             .item 5 
             .item 6
             .item 7
             .item 8
             .item 9
             .item 10 
             .item 11
             .item 12
             .item 13
             .item 14
             .item 15
             .item 16             
           

